doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name='author', content='Manuel ADELE')
    meta(name='description', content='Game fullstack javascript socket.io')
    link(rel='shortcut icon', href='images/favicon.gif', type='image/x-icon')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/compiled/flipclock.css')
    link(rel="stylesheet",href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css")
    
  body(class='grad')
    block content
    script(src='/socket.io/socket.io.js')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js")
    script $(document).foundation()
    script(type="text/javascript" src="/javascripts/main.js")
    script(src="/compiled/flipclock.js")
    
    script.
      var socket = io();
      